/* expand and collapse */
.tr-collapse {
	display: none;
}

/* Table styling */
.column {
	float: left;
	padding: 10px;
}

.left-column {
	width: 25%;
}

.right-column {
	width: 75%;
	border-left: 1px solid #dddddd;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.col3{
	width: 197px;
}

.midi-row {
	display: table-row;
}

/* list of midis styling */
.midi-list {
	padding-left: 0;
}

.midi-list-item {
	list-style: none;
    border-radius: 4px;
	margin: 3px 0 3px 27px;
}

.midi-list-item > a {
	text-decoration: none;
    padding: 3px;
    text-align: center;
    display: flex;
    color: #4a4a4a;
    font-weight: bold;
}


/* Turn links into buttons */
.buttonLink {
	background-color: #1a938f;
	border-color: #1a938f;
	text-align: center;
	border-radius: 4px;
    border: 1px solid transparent;
	width: 65px;
}

.buttonLink:hover {
	background-color: #136d6a;
	border-color: #136d6a;
	color: #fff;
}

.buttonLink > a {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
}

.buttonLink > a {
	text-decoration: none;
}

.link-container {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackButtonsWrapper {
	display: flex;
	justify-content: space-evenly;
}

/* Button Styling */
.btn-primary-blue {
	background-color: #1a938f;
	border-color: #1a938f;
	color: #fff;
}

.btn-primary-blue:hover {
	background-color: #136d6a;
	border-color: #136d6a;
	color: #fff;
}

/* Underline animation */
.hover-underline-animation {
	display: inline-block;
	position: relative;
  }
  
  .hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #136d6a;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }

hr {
	margin-bottom: 5px;
}

select {
	height: 30px;
	border: none;
}

.midi-global-row {
	background-color: #ddd
}

.midi-track-name > div {
	margin-top: 5px;
}

.midi-track-all {
	margin-top: 13px;
}

.percent-field > input {
	width: 60px;
    font-size: 18px;
    text-align: center;
}

.create-wrapper {
	display: flex;
    justify-content: space-between;
}

.btn-black {
	color: #fff;
    background-color: #1f1f1f;
}

.btn-black:hover {
	color: #fff;
    background-color: #555555;
}

.instrument-select > select:hover {
	background-color: #ddd;
    border-radius: 5px;
}

.midi-selected > a {
	color: #136d6a !important;
}

#globalinstrument {
	border-radius: 5px;
}

.session-in-midi-list {
	border-bottom: solid;
}

.expand-icon-container {
	display: flex;
}

.expand-icon-container .material-icons {
	margin-right: 5px;
}

.expand-icon-container .material-icons:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

/* Edit Form */

.edit-form-container {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-field {
	margin: 10px 0;
}

.edit-field > span {
	font-weight: 600;
}

.edit-field > input {
	margin-left: 5px;
}

.edit-form-section {
	margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.edit-tracks-section {
	width: 65%;
}

.edit-buttons {
	margin-top: 5px;
}

.edit-buttons > div {
	margin-right: 25px;
}

.edit-buttons > .buttonLink {
	background-color: #ddd;
	border-color: #ddd;
}

.edit-buttons > .buttonLink:hover {
	background-color: rgb(187, 185, 185);
	border-color: rgb(187, 185, 185);
}

.edit-buttons > .buttonLink > a {
	color: black;
}

/* Manage Page: Session and Midi list*/
.session-folder-container {
	margin: 20px 0;
}

.session-folder-header {
	background: #ddd;
    padding: 10px;
    border-radius: 10px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.session-folder-container h3 {
	margin: 0 0 0 0;
}

/* Manage Page: Action Box */
.action-container {
	display: flex;
    justify-content: space-between;
}

.action-box {
	border: 1px solid #dddddd; 
	padding: 10px;
}

.action-box h4 {
	margin-bottom: 20px;
}

.action-box b {
	margin-right: 10px;
}

.action-box input[type=file] {
	display: inline-block;
}

.action-box #session {
	border: solid 1px;
    border-radius: 2px;
}

/* Search Bar */
.search-bar {
	display: flex;
	margin: 10px 0;
}

.search-bar > span {
	margin-left: 10px;
}

.search-bar > input {
	width: 100%;
}