.tr-collapse {
	display: none;
}

.column {
	float: left;
	padding: 10px;
}

.left-column {
	width: 25%;
}

.right-column {
	width: 75%;
	border-left: 1px solid #dddddd;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.midi-list {
	padding-left: 0;
}

.midi-list-item {
	list-style: none;
	border: 1px solid #1F1F1F;
    border-radius: 4px;
}

.midi-list-item:hover {
	box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.midi-list-item > a {
	text-decoration: none;
    padding: 3px;
    text-align: center;
    display: flex;
    color: #4a4a4a;
    font-weight: bold;
}