.tr-collapse {
	display: none;
}

.column {
	float: left;
	padding: 10px;
}

.left-column {
	width: 25%;
}

.right-column {
	width: 75%;
	border-left: 1px solid #dddddd;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}